<% if params[:active] %>
  <h1>Adopted Locations</h1>
  <p>Easier way to find Adopt-A-Spot locations</p>
<% else %>
  <h1>Orphan Locations</h1>
  <p>Easier way to find Adopt-A-Spot locations</p>
<% end %>

<!-- Panel listing -->
<div class="container">
  <div class="row">
    <% @spots.each do |spot| %>
      <div class="col-md-6" style="margin-bottom: 10px;background: white;">
        <%= link_to spot do %>
          <%= image_tag("https://maps.googleapis.com/maps/api/streetview?size=600x300&location=#{spot.latitude},#{spot.longitude}", :class => "img-responsive", :id => "spot_picture") %>
        <% end %>
        <div id="cat" class="col-md-3" style="background: white;">
          <%= image_tag "cat/#{spot.category.name.downcase}.png", height: 94 %>
        </div>
        <div id="spot_name_address" class="col-md-9" style="height: 94 !important;overflow: hidden;">
          <%= spot.name %> <br/>
          <%= spot.add1 %> <%= spot.city %>, <%= spot.state %> <%= spot.zipcode %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Adopt It".html_safe, new_adoption_request_path(spot_id: spot.id) %>
        </div>
        <br/>
      </div>
    <% end %>
  </div>
</div>

  <!-- Panel Listing Navigation -->
  <%= paginate @spots %>

</div>




