<h1>Adopt-A-Spot Locations</h1>
<p>Easier way to find Adopt-A-Spot locations</p>

<!-- Panel listing -->
<div class="container">
  <div class="row">
  <% @spots.each do |spot| %>
    <div class="col-md-6">
      <%= link_to spot do %>
        <%= image_tag("https://maps.googleapis.com/maps/api/streetview?size=600x300&location=#{spot.latitude},#{spot.longitude}", :class => "img-responsive", :id => "spot_picture") %>
      <% end %>
      <div id="spot_name_address">
        <%= spot.name %> <br/>
        <%= spot.add1 %> <%= spot.city %>, <%= spot.state %> <%= spot.zipcode %>
      </div>
      <br/>
    </div>
  <% end %>
  </div>
</div>

  <!-- Panel Listing Navigation -->
  <%= paginate @spots %>

</div>




