<% if params[:active] %>
  <h1>Adopted Locations</h1>
  <p>Easier way to find Adopt-A-Spot locations</p>
<% else %>
  <h1>Orphan Locations</h1>
  <p>Easier way to find Adopt-A-Spot locations</p>
<% end %>

<!-- Panel listing -->
<div class="container">
  <div class="row">
  <% @spots.each do |spot| %>
    <div class="col-md-6">
      <%= link_to spot do %>
        <%= image_tag('Placeholder.jpg', :class => "img-responsive", :id => "spot_picture") %>
      <% end %>
      <div id="spot_name_address">
        <%= spot.name %> <br/>
        <%= spot.add1 %> <%= spot.city %>, <%= spot.state %> <%= spot.zipcode %>
      </div>
      <br/>
    </div>
  <% end %>
  </div>
</div>

  <!-- Panel Listing Navigation -->
  <%= paginate @spots %>

</div>




