<h1>Adopt-A-Spot Locations</h1>
<p>Easier way to find Adopt-A-Spot locations</p>

<!-- Panel listing -->
<div class="container">
  <div class="row">
    <% @spots.each do |spot| %>
      <div class="panel panel-default widget">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-3 col-md-3">
                  <%= image_tag('stock.jpg', :class => "img-thumbnail img-responsive")%></div>
                    <div class="col-xs-9 col-md-9">
                      <div>
                        <%= link_to spot.name, spot %><br />
                        <%= spot.add1 %><br />
                        <%= spot.add2 %>
                        <div class="mic-info"> <%= spot.city %>, <%= spot.state %> <%= spot.zipcode %>
                      </div>
                    </div>
                    <div class="comment-text"> Maintainer: <%= spot.maintainer %></div>
                      <div class="action">
                        <button type="button" class="btn btn-primary btn-xs" title="Edit">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-success btn-xs" title="Approved">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete">
                          <span class="glyphicon glyphicon-trash"></span>
                        </button>
                      </div>
                    </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Panel Listing Navigation -->
  <div class="pagination">
    <ul>
      <li><a href="#">←</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">...</a></li>
      <li><a href="#">20</a></li>
      <li><a href="#">→</a></li>
    </ul>
  </div>

</div>