<%- model_class = Spot -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @spot.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:add1) %>:</strong></dt>
  <dd><%= @spot.add1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:add2) %>:</strong></dt>
  <dd><%= @spot.add2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @spot.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @spot.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zipcode) %>:</strong></dt>
  <dd><%= @spot.zipcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @spot.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:maintainer) %>:</strong></dt>
  <dd><%= @spot.maintainer %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              spots_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_spot_path(@spot), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              spot_path(@spot),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
