<%- model_class = Spot -%>

<div class="container">
  <%= image_tag('Placeholder.jpg', :class => "jumbotron img-responsive")%>

    <strong><%= model_class.human_attribute_name(:team_name) %></strong>
    <br/><%= @spot.name %><br/><br/>
    <strong><%= model_class.human_attribute_name(:location) %></strong>
    <br/><%= @spot.add1 %> <%= @spot.city %>, <%= @spot.state %> <%= @spot.zipcode %><br/><br/>
    <strong>Getting Started</strong>
    <ul>
      <li>Review requirements for program.</li>
      <li>Assign a group leader responsible for meeting these requirements</li>
      <li>Have a group leader fill out a registration form</li>
      <li>Once your form is submitted, KNB will review it for approval and contact you to schedule an orientation/safety training.</li>
    </ul><br/>
    <a href="#" id="requirement_link">Requirements</a><br/><br/>
</div>
