<%- model_class = AdoptionRequest -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:group_name) %>:</strong></dt>
  <dd><%= @adoption_request.group_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_of_volunteers) %>:</strong></dt>
  <dd><%= @adoption_request.no_of_volunteers %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @adoption_request.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @adoption_request.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:add1) %>:</strong></dt>
  <dd><%= @spot.add1 || @adoption_request.add1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @spot.city || @adoption_request.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @spot.state || @adoption_request.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zipcode) %>:</strong></dt>
  <dd><%= @spot.zipcode || @adoption_request.zipcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @adoption_request.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @adoption_request.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @adoption_request.category_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:avatar) %>:</strong></dt>
  <dd><%= image_tag @adoption_request.avatar.url, width: 600 %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              adoption_requests_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_adoption_request_path(@adoption_request), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              adoption_request_path(@adoption_request),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
